html {
	background : url('/resources/images/site-background.jpg');
	height: 100%;
}

body {
	font-family: Verdana, Arial, sans-serif;
	height: 93%;
}

#main {
	background-color: #dfdfdd;
	border: 2px solid #b8a270;
	border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	min-height: 95%;
	padding: 10px;
	width: 890px;

}

#footer {
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
	width: 890px;
}

#content {
	border-top: 1px solid #ccc;
	margin-top: 10px;
	padding-top: 6px;
}

a.powered-by {
	border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
	color: transparent;
	display: block;
	float: right;
	margin-left: 6px;
	position: relative;
	height: 50px;
	right: -12px;
	width: 200px;
}
a.powered-by img {
	height: 50px;
	width: 200px;
}
a.powered-by.grey {
	background-color: #dfdfdd;
	border: 2px solid #b8a270;
}
a.powered-by.blue {
	background-color: #15708e;
	border: 2px solid #b1cad2;
}

.clear {
	clear: both;
}

.ui-autocomplete.ui-menu {
	background: #dfdfdd;
	border: 1px solid #b8a270;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	box-shadow: 1px 1px 10px -2px rgba(50, 50, 50, 0.5);
		-webkit-box-shadow: 1px 1px 10px -2px rgba(50, 50, 50, 0.5);
		-moz-box-shadow: 1px 1px 10px -2px rgba(50, 50, 50, 0.5);
	list-style: none;
	padding: 8px;
	width: 300px;
}
.ui-menu-item {
	font-size: small;
	margin-bottom: 2px;
	padding: 3px;
}
.ui-menu-item a {
	border: 1px solid #dfdfdd;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	font-size: small;
	padding: 3px;
	width: 100%;
}
.ui-state-hover  {
	background: #b8a270;
}

.beer-data {
	border: 1px solid #b8a270;
	border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
	box-shadow: 1px 1px 10px -2px rgba(50, 50, 50, 0.5);
		-webkit-box-shadow: 1px 1px 10px -2px rgba(50, 50, 50, 0.5);
		-moz-box-shadow: 1px 1px 10px -2px rgba(50, 50, 50, 0.5);
	float: left;
	height: 92px;
	margin: 10px 10px;
	overflow: hidden;
	padding: 8px;
	width: 183px;
}

.beer-info {
	height: 3.9em;
	overflow: hidden;
}

.beer-rating-form {
	clear: both;
	padding-top: 4px;
}

.beer-data-name {
	font-size: small;
	font-weight: bold;
	margin-left: 54px;
	margin-top: 1px;
}

.beer-data-brewery-name {
	font-size: xx-small;
	margin-left: 54px;
}

.beer-data img {
	border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
	height: 48px;
	width: 48px;
}

.beer-data .image-wrap {
	border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
	box-shadow: 1px 1px 5px -1px rgba(128,128,128,.5);
		-webkit-box-shadow: 1px 1px 5px -1px rgba(128,128,128,.5);
		-moz-box-shadow: 1px 1px 5px -1px rgba(128,128,128,.5);
	display: inline-block;
	float: left;
	height: 48px;
	position: relative;
	width: 48px;
}

.beer-data .image-wrap.glossy:after {
	background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,.1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,.1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,.1)));
	border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
	content: ' ';
	height: 50%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

div.star-rating {
	background: #b8a270;
	border: 1px solid #ccc;
	border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
	margin: auto;
	padding: 2px;
	text-align: center;
	width: 146px;
}
.stars div a {
	background: transparent url('/resources/images/star_sprite.png') 0 0 no-repeat;
	display: inline-block;
	height: 24px;
	overflow: hidden;
	text-indent: -999em;
	width: 12px;
}
.stars a.rating-right { background-position: -12px 0; }
.stars a.rating-over { background-position: -48px 0; }
.stars a.rating-over.rating-right { background-position: -60px 0; }
.stars a.rating { background-position: -48px 0; }
.stars a.rating.rating-right { background-position: -60px 0; }

.stars a.rating-none {
	background-position: -96px 0;
	width: 24px;
}
.stars a.rating-none.rating-current,
.stars a.rating-none.rating-hover {
	background-position: -72px 0;
}
